/* =========================
   BOTONES
========================= */

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-secondary);
}

/* =========================
   CARDS
========================= */

.action-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.action-card:hover {
  transform: translateY(-5px);
}

/* =========================
   FORMULARIOS
========================= */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--color-secondary);
}
